/* -------------------------------------------------------------------------- */


/* SESION TABLA                                                                   */


/* -------------------------------------------------------------------------- */

td {
    border: 2px solid purple;
    width: 6rem;
    height: 4rem;
}


/* -------------------------------------------------------------------------- */